html, body{
  min-width: 1366;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
ul li{
  list-style: none;
  display: inline-block;
  min-width: 100px; 
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #fff;
}
.min-width{
  min-width: 1366px;
}
.home{
  width: 100%;
}
/*  */
.common-header{
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0px;
  z-index: 99;
}
.common-header-style{
  background-color: #080E21;
}
.nav-li{
  height: 80px;
  line-height: 80px;
}
.banner{
  width: 100%;
  height: 580px;
}
.swiper-container{
  --swiper-pagination-color: #00ff33;
}
.banner-box{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-box-text{
  font-size: 32px;
  color: #ffffff;
}
.banner-img1{
  background: url('./images/banner7.jpg') no-repeat;
  background-size: 100%;
}
.banner-img2{
  background: url('./images/banner2.jpg') no-repeat;
  background-size: 100%;
}
.banner-img3{
  background: url('./images/banner3.jpg') no-repeat;
  background-size: 100%;
}
/* .banner-img4{
  background: url('./images/banner2.jpg') no-repeat;
  background-size: 100%;
}
.banner-img5{
  background: url('./images/banner2.jpg') no-repeat;
  background-size: 100%;
}
.banner-img6{
  background: url('./images/banner2.jpg') no-repeat;
  background-size: 100%;
} */
.title{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.main-title{
  padding: 40px 0px;
  text-align: center;
  background: #fff;
  margin-bottom: 70px;
}
.big-title-test{
  font-size: 46px;
  letter-spacing: 8px;
  color: #434343;
  opacity: 0.4;
}
.mainSub{
    width: 37px;
    height: 2px;
    background: #e60012;
    margin: 30px auto;
}
.small-title-test{
  padding: 10px 0px;
  text-align: center;
  font-size: 30px;
  color: #434343;
  font-family: 'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';
  border-bottom: 1px solid #bfbfbf;
}
.swiper-container-case {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide-case {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px;

}
/* 核心业务 */
.core-business{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: #eaf3f8;
}
.core-business:nth-of-type(2n){
  flex-direction: row-reverse;
}
.img-core-transition{
  width: 40% !important;
  transition:width 1s;
	-webkit-transition:width 1s; /* Safari */
}
.img-core{
  width: 0px;
  height: 35vw;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img-core-1{
  background-image: url(./images/caseImg/电能优化3.JPG);
}
.img-core-2{
  background-image: url(./images/caseImg/调试3.jpg);
}
.img-core-3{
  background-image: url(./images/caseImg/调试1.jpg);
}
.img-core-4{
  background-image: url(./images/caseImg/施工.jpg);
}
.core-content{
  display: none;
  width: 70%;
}
.info-core{
  width: 60%;
  height: 35vw;
  box-sizing: border-box;
}
.info-core h3{
  font-size: 1.4rem;
  color: #1e489d;
  margin-bottom: 20px;
}
.info-core p{
  line-height: 2.2rem;
  margin-bottom: 0;
}
.info-core-center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.project-main{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  
}
.project-main-bottom{
  border-bottom: 1px solid #949494;
  padding-bottom: 80px;
}
.project-child{
  width: 20vw;
  height: 20vw;
  position: relative;
}
.project-child img{
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.project-child img:hover{
  transform: scale(1.1)
}
.project-child .childHide {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(./images/caseImg/sxtj-bg.png);
  background-size: cover;
}

.project-child .childTag {
  letter-spacing: 0.1em;
  font-weight: 100;
  font-stretch: condensed;
  padding: 6%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 88%;
  font-size: 12;
  font-family: 'MyriadPro-LightCond';
  font-size: 24px;
  color: #fff;
  text-align: left;
}
.project-child .childContent {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 54px;
  width: 100%;
  margin-top: -27px;
  color: #ffffff;
  font-size: 12px;
}
.project-child .childPointer {
  position: absolute;
  bottom: 17px;
  right: 20px;
  width: 71px;
  height: auto;
}
.linkBtn {
  margin: 80px auto 0px auto;
  background-image: url(./images/caseImg/rightIcon.png);
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: 254px center;
  width: 308px;
  height: 58px;
  line-height: 58px;
  text-align: left;
  border: 2px solid #e60012;
  color: #e60012;
  font-size: 22px;
}
.linkBtn:hover {
  color: #fff;
  background-color: #e60012;
  background-image: url(./images/caseImg/rightIconOn.png);
}
.linkBtn span {
  margin-left: 20px;
}
.footer {
  background: #080E21;
  height: 220px;
  color: #fff;
}
.footer .container {
  width: 1107px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}
.footer .right {
  width: 270px;
  padding-top: 35px;
}
.footer .right .title{
  display: inline-block;
  width: 270px;
  padding-top: 35px;
  height: auto;
}
.weixin-icon{
  margin-left: 73px;
  margin-top: 23px;
  position: relative;
  cursor: pointer;
}
.weixin-icon .childCode {
  display: none;
  background: url(./images/caseImg/QRcode.jpeg) no-repeat left top;
  background-size: 151px 166px;
  position: absolute;
  left: 91%;
  bottom: -13px;
  width: 151px;
  height: 166px;
  margin-left: -75px;
  text-align: center;
}
.about-guohao{
  width: 100%;
  height: 1200px;
  background-image: url(./images/caseImg/main_bg01.jpg);
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
  position: relative;
  color: #fff;
}
.about-guohao .ceng {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}
.about-guohao-desire{
  z-index: 4;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 120px 20px 120px;
  height: 100;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ttl{
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.padding-left-20{
  padding-left: 20px;
}
.sub {
  width: 178px;
  height: 2px;
  margin: 40px auto;
  background: #e60012;
}
.sub2 {
  width: 178px;
  height: 2px;
  margin: 40px auto;
  background: #e60012;
}
#pagetop {
  position: fixed;
  z-index: 999;
  right: 3%;
  bottom: 6%;
  width: 44px;
  height: 44px;
  background: #080E21;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
#pagetop>img{
  position: absolute;
  top: -13px;
  left: -13px;
  transform: rotate(-90deg);
}
